body {
  font-family: 'Roboto', sans-serif;
}

.search-box {
  border: 0.1px solid lightgray;
  padding: 20px;
  width: 40%;
  margin: auto;
  margin-top: 15px;
}

.wrapper {
  display: flex;
}

.search {
  flex: 3;
}

.artist-button {
  height: 50%;
  margin: auto 5%;
  flex: 1;
}

.form-fields {
  text-align: center;
  margin: 1px auto;
}

.add-button {
  margin: 5% 25%;
  width: 50%;
}

.add-artist-box {
  display: none;
  border: 1px solid lightgray;
  padding: 20px;
  margin: auto;
  width: 30%;
}

.artist-list {
  width: 30%;
  margin: auto;
}

.artist-box {
  display: flex;
}

.content {
  flex: 3;
}

.artist-image {
  height: 50%;
  max-width: 200px;
  max-height: 200px;
  margin: auto 5%;
}
